.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
.quarto/xref/INDEX
.Rproj.user/214B74AF/pcs/files-pane.pper
.Rproj.user/214B74AF/pcs/source-pane.pper
.Rproj.user/214B74AF/sources/per/t/A397679B
.Rproj.user/214B74AF/sources/per/t/A397679B-contents
.Rproj.user/214B74AF/sources/prop/E185D27E
.Rproj.user/214B74AF/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
